<div class="tab-pane fade show" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row no-margin home-det">
        <div class="col-md-4 big-img">
            <img src="assets/images/profile-big.jpg" alt="">
        </div>
        <div class="col-md-8 home-dat">
            <div class="detal-jumbo">
                <h3>I'm Angular Developer</h3>
                <hr />
                <h5>What I do?</h5>
                <p>Based as per title i am web application developer using front-end technologies like front-end
                    framework, libraries, CSS preprocessor etc...</p>
                <hr />
                <h5>What I Like Most?</h5>
                <p>
                    I prefere to work as stand-alone developer, but sometime as per requirement, also contribute as team
                    player. 
                </p>
                <hr/>
                <h5>What is my Achivement?</h5>
                <p>
                    I have successfully completed 
                </p>
                <hr />
                <h5>What is my Objectives?</h5>
                <p>Innovative, creative, and a proven team player with front-end development expertise of building,
                    developing, and
                    managing websites, applications in various organizations. Looking forward to take challenging role
                    where use these
                    skills in providing quality service to the company.</p>
            </div>
            <div class="links">
                <div class="row ">
                    <div class="col-xl-6 col-md-12">
                        <ul class="btn-link">
                            <li>
                                <a href=""><i class="fas fa-cloud-download-alt"></i>
                                    Download Resume</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <!-- <ul class="social-link">
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-pinterest-p"></i></li>
                            <li><i class="fab fa-linkedin-in"></i></li>
                            <li><i class="fab fa-linkedin-in"></i></li>
                            <li><i class="fab fa-youtube"></i></li>
                        </ul> -->
                    </div>
                </div>
            </div>
            <div class="jumbo-address">
                <div class="row no-margin">
                    <div class="col-lg-6 no-padding">

                        <table class="addrss-list">
                            <tbody>
                                <tr>
                                    <th>Position</th>
                                    <td>Sr. Software Developer</td>
                                </tr>
                                <tr>
                                    <th>Nationality</th>
                                    <td>Indian</td>
                                </tr>
                                <tr>
                                    <th>Date of birth</th>
                                    <td>18/02/1987</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-lg-6 no-padding">
                        <table class="addrss-list">
                            <tbody>
                                <tr>
                                    <th>Experiance</th>
                                    <td>10+ Years</td>
                                </tr>
                                <tr>
                                    <th>Website</th>
                                    <td>www.yourdomain.com</td>
                                </tr>
                                <tr>
                                    <th>Languages</th>
                                    <td>English, Hindi, Gujarati</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>